
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --branco: #fcfcfc;
    --verde: #0b722d;
    
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
    color: var(--verde);
   
}
.titulo-3{
    text-align: left;
    width: 100%;
    font-size: 33px;
    color: var(--verde);
   
    
}
.titulo-4{
    text-align: left;
    width: 100%;
    font-size: 32px;
    color: var(--branco);  
}

.titulo-principal span {
    color: var(--verde);
}

.agro{
    width: 70%;
    margin: 0 500px;
}

